[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "==1.42.0"
flask = "*"
gunicorn = "*"
tensorflow-protobuf = "==2.7.0"
protobuf = "==3.19.6"
keras-image-helper = "*"

[dev-packages]

[requires]
python_version = "3.9"
